
.d_tags a {
    opacity: .70;
    filter: alpha(opacity=80);
    color: #fff;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 6px;
}

/*在线工具*/
.d_tool a { 
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 6px;
}

.d_tool a:hover { 
    background-color:#F0F0F0;
}


.top-nav-li {
    position: relative;
    float: left;
    margin: 0;
    list-style: none;
}

.top-nav-link {
    width: 54px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    display: block;
    color: #f2f4f5;
    text-shadow: 0 1px 1px rgba(0,0,0,.12);
    font-size: 14px;
}

.top-nav-count {
    left: 31px;
}

.top-nav-count, .top-nav-userinfo .top-nav-pm-count {
    z-index: 12;
    top: 5px;
    position: absolute;
}

.noti-number {
    background: #BF1031;
    border: 1px solid #B11331;
    box-shadow: 0 1px 2px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.15);
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    -webkit-text-size-adjust: none;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
}



texearea {
    resize: none;
}

.clear {
    clear: both;
    width: 0;
    height: 0;
}

/*导航logo*/
.navbar-header-logo {
    border: 0px solid red;
    float: left;
}

/*定义全局字体样式 默认全站 16 px 其他自定义重写即可*/
body {
    font-family: "微软雅黑", "黑体", "宋体",Arial;
    color: #323232;
    background-color: #f0f0f0;
    line-height: 1.5;
}

.mainContainer {
    background-color: #f0f0f0;
    padding-top: 70px;
}

/*定义全局宽度
.container
{
    min-width: 1001px;
    width: 1001px;
}
*/
.footerContainer {
}

.fl {
    float: left;
    display: inline;
}

/*禁用所有 textare 拖拽*/
textarea {
    resize: none;
}

/*首页心情列表样式*/
.mood-list {
    font-size: 14px;
    padding-left: 20px;
    list-style: none;
}

/*列表样式*/
.art-list {
    font-size: 14px;
    padding-left: 40px;
    list-style: none;
}

    .art-list li:first-child {
        border-top: 0;
    }

    .art-list .related-info {
        float: right;
        font-size: 12px;
        color: #777;
        text-align: right;
    }

    .art-list li {
        height: 35px;
        line-height: 35px;
        border-top: 1px dashed #D4D4D4;
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .art-list .related-info .ri-3, .art-list .related-info .ri-4 {
        margin: 0 15px;
        display: inline-block;
        text-align: left;
    }

    .art-list .related-info .ri-3 {
        margin: 0;
        min-width: 65px;
        text-align: left !important;
    }

    .art-list .related-info .ri-4 {
        margin: 0;
        min-width: 85px;
        text-align: left !important;
    }


.cf:after {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    content: ".";
}

.fl {
    float: left;
    display: inline;
    font-size: 14px;
}

/*定义首页排行用户头像样式*/
.img-rounded-50px {
    border-radius: 10%;
    height: 50px;
    width: 50px;
}

.img-rounded-80px {
    border-radius: 10%;
    height: 80px;
    width: 80px;
}

/*头像*/
.userImgCenter td {
    text-align: center;
}

/*文章 内容模块div*/

.content_txt {
    width: 100%;
    line-height: 200%;
    color: #444;
    position: relative;
    overflow: hidden;
    padding: 0 20px 20px 20px;
    background: #fff;
    float: left;
    font-family: "微软雅黑", "Microsoft Yahei";
}

.content_review {
    padding: 0 20px 20px 20px;
    background: #fff;
    margin-bottom: 20px;
}


/*文章评论回复楼层设置*/
.content_msg_review_O {
    background-color: #ffffff;
}

.content_msg_review_J {
    background-color: #f2f2f2;
}

.content_review_page {
    float: right;
    padding: 0 20px 20px 20px;
    background: #fff;
}



/*虚线分割线*/
.div_fgx {
    margin: 0 0 20px 0;
    border-top: 1px dashed #D4D4D4;
}

.div_10px {
    height: 10px;
}

.div_20px {
    height: 20px;
}

.div_30px {
    height: 30px;
}

.div_40px {
    height: 40px;
}

/*用户个人中心列表样式*/
.user-list {
    line-height: 1.8;
    font-size: 16px;
}

    .user-list li:first-child {
        border-top: 0;
    }

    .user-list .related-info {
        float: right;
        font-size: 12px;
        color: #777;
        text-align: right;
    }

    .user-list li {
        height: 40px;
        line-height: 40px;
        border-top: 1px dashed #D4D4D4;
    }

        .user-list li a {
            color: blue;
        }

            .user-list li a:hover {
                color: #aa0000;
                font-weight: bold;
                text-decoration: underline;
                cursor: auto;
            }


.more {
    float: right;
}

/*返回顶部*/
p#back-to-top {
    position: fixed;
    display: none;
    bottom: -10px;
    right: -10px;
}

    p#back-to-top a {
        text-align: center;
        text-decoration: none;
        color: #d1d1d1;
        display: block;
        width: 64px; /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
        -moz-transition: color 1s;
        -webkit-transition: color 1s;
        -o-transition: color 1s;
    }

        p#back-to-top a:hover {
            color: #979797;
        }

        p#back-to-top a span {
            background: transparent url(/Images/GoTop.png) no-repeat;
            border-radius: 6px;
            display: block;
            height: 64px;
            width: 56px;
            margin-bottom: 5px; /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
            -moz-transition: background 1s;
            -webkit-transition: background 1s;
            -o-transition: background 1s;
        }

#back-to-top a:hover span {
    background: transparent url(/Images/GoTop.png) no-repeat;
}


/*注册登录等小字体*/
.divErrorTxt {
    font-size: small;
    color: red;
    margin-top: 3px;
}
/*按钮提交紧邻的校验*/
.divErrorUnderTxt {
    font-size: 14px;
    color: red;
    margin: 7px 0 0 5px;
}

/*用户裁剪头像页面*/
.crop_preview {
    position: absolute;
    left: 520px;
    top: 20px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid gray;
}

.crop_preview2 {
    position: absolute;
    left: 520px;
    top: 140px;
    width: 100px;
    overflow: hidden;
}

/*loading*/
#loading {
    width: 314px;
    height: 130px;
    position: absolute;
    text-align: center;
    z-index: 1001;
}

    #loading .loadingImg {
        margin-top: 10px;
        margin-left: 10px;
    }

#whiteOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    top: 0px;
    left: 0px;
    opacity: .5;
    z-index: 1000;
    filter: alpha(opacity=50);
}

/*usercard用户信息card*/
.user-info-pop {
    position: relative;
    background-color: #efefef;
    border: solid 0px #aaa;
    padding: 10px;
    width: 278px;
    height: 168px;
}

    .user-info-pop .img-wrap {
        float: left;
    }

    .user-info-pop .user-info {
        overflow: hidden;
        padding: 5px;
    }

        .user-info-pop .user-info .user-name {
            font-size: 16px;
            font-weight: 700;
        }

/*验证码*/
.yzcode {
    background-color: transparent;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    font-size: 9pt font-family: Arial;
    font-style: italic;
    font-size: large;
    color: green;
    border: 0;
    padding: 2px 3px;
    letter-spacing: 3px;
    font-weight: bolder;
}

.unchanged {
    border: 0;
}

/*首页发布心情样式*/
#DynaInfo {
    margin-left: 35px;
    margin-top: -25px;
}

    #DynaInfo ul li {
        margin: 0 0 5px 0;
        padding: 0 8px 8px 0;
        border-bottom: 1px dashed #ddd;
        margin-right: 15px;
    }

        #DynaInfo ul li:hover {
            background-color: #f0f0f0;
        }

        #DynaInfo ul li .moodbody {
            float: left;
            overflow: hidden;
            font-size: 9pt;
        }

            #DynaInfo ul li .moodbody a {
                color: #3E62A6;
            }

        #DynaInfo ul li .log {
            color: #666;
            word-break: break-all;
        }

        #DynaInfo ul li .time {
            display: block;
            color: #9A9A9A;
            margin: 5px 0 0 0;
        }

.portrait {
    float: left;
    width: 45px;
    padding-top: 3px;
}

    .portrait img {
        width: 35px;
        height: 35px;
        border: 1px solid #ccc;
        padding: 1px;
        background: #fff;
    }

/*发帖页面分类样式*/
.blogTypeTable .qa_type {
    float: left;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #AAA;
    background-color: #fff;
    font-size: 10.5pt;
    margin: 0 5px 0 0;
    color: #666;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    width: 110px;
}

    .blogTypeTable .qa_type:hover {
        border-color: #1ABC9C;
        background-color: #BBF7EB;
    }

.blogTypeTable .selected {
    border: 2px solid #1ABC9C;
    color: #1ABC9C;
    background: url('../Images/sel.gif') no-repeat right bottom;
}

/*blog详细页面的图片宽度处理*/
.blogContent img {
    max-width: 100%;
}

/*blog详细页面的标签样式*/
.blogtags {
}

    .blogtags a {
        display: inline-block;
        margin-right: 9px;
        padding: 1px 5px;
        color: #7e7e7e;
        border: 1px dashed #a7a8a9;
        text-decoration: none;
        font-size: small;
    }

        .blogtags a:hover {
            background-color: #f0f0f0;
        }

#blogTags .qa_type {
    width: 140px;
    margin-top: 3px;
}

/*隔行样式*/
.s2 {
    background: #f5f6f8;
}
/*鼠标悬停样式*/
.s2hover {
    background: #f3fceb;
}


/*图片圆角*/
#yuanjiao {
    float: left !important;
    margin-right: 10px;
}

    #yuanjiao .ds-avatar img {
        width: 54px;
        height: 54px; /*设置图像的长和宽，这里要根据自己的评论框情况更改*/
        border-radius: 27px; /*设置图像圆角效果,在这里我直接设置了超过width/2的像素，即为圆形了*/
        -webkit-border-radius: 27px; /*圆角效果：兼容webkit浏览器*/
        -moz-border-radius: 27px;
        box-shadow: inset 0 -1px 0 #3333sf; /*设置图像阴影效果*/
        -webkit-box-shadow: inset 0 -1px 0 #3333sf;
        -webkit-transition: 0.4s;
        -webkit-transition: -webkit-transform 0.4s ease-out;
        transition: transform 0.4s ease-out; /*变化时间设置为0.4秒(变化动作即为下面的图像旋转360读）*/
        -moz-transition: -moz-transform 0.4s ease-out;
    }

        #yuanjiao .ds-avatar img:hover { /*设置鼠标悬浮在头像时的CSS样式*/
            box-shadow: 0 0 10px #fff;
            rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
            -webkit-box-shadow: 0 0 10px #fff;
            rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
            transform: rotateZ(360deg); /*图像旋转360度*/
            -webkit-transform: rotateZ(360deg);
            -moz-transform: rotateZ(360deg);
        }
