.source{
display:none;
}
#div_digg {
position: fixed;
bottom: 10px;
right: 15px;
border: 2px solid #ECD7B1;
padding: 10px;
width: 140px;
background-color: #fff;
border-radius: 5px 5px 5px 5px !important;
box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
}
#cnblogs_post_body h2 {
  color:#fff;!important;
  padding-left:15px;
  background:#AA7A53 !important;
  text-shadow:2px 2px 3px #222222;
  font-family:"微软雅黑" , "宋体" , "黑体" ,Arial;
  margin-bottom:5px;
}


#cnblogs_post_body h3{
  color:#AA7A53;
  border-left: 13px solid #AA7A53;
  padding:5px;
  background-color:#ffedb4;
}
#cnblogs_post_body h4{
  color:#AA7A53;
  border-left:#AA7A53 5px solid;
  padding:5px;
  background-color:#ffedb4;
}
.postBody{
font-size: 15px;
}
.postBody p{
font-size: 15px;
}
#cnblogs_post_body img{
border:1px solid black;
}
#topics .postTitle {
font-size: 16px;
}