/*.custom .catListTitle
{
  display:block;
}
*/
#MySignature
{
  margin-top:20px;
  padding:5px 5px 5px 70px;
  line-height:25px;
  border: solid 1px #CCCCCC;
  background:url('http://images.cnblogs.com/cnblogs_com/yilin/458100/o_o_info.png') #FEFED7 no-repeat 1% 50%;
}