body, div.post div.entry{
    font-family: 微软雅黑, "Trebuchet MS" ,Georgia, "Times New Roman" ,Times,sans-serif;
    background-color:#fefefe;
}

.desc_img{
   margin: 8px;
}

pre {
    font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', '微软雅黑', '宋体';
}

#cnblogs_post_body ul {
    margin-left: 2em;
    list-style-type: none;
}

#cnblogs_post_body ul a
{
  border-bottom: 1px dashed;
  font-style: italic;
}

div.post div.entry h1, div.post div.entry h2, div.post div.entry h3{
    margin-top: 18px;
    margin-bottom: 12px;
}
div.post div.entry h1{
    padding: 5px;
    color: white !important;
    background-color: gray;
}
div.post h2{
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
}
div.post div.entry blockquote p{
    line-height: 150%;
}

div.post div.entry pre{
    font-size: 10pt;
    line-height: 140%;
}

div.post div.entry pre.code{
    border: dashed 1px  gray;
    border-left: solid 5px #6ce26c;
    margin: 0.5em 0.5em 0.5em 0.5em;
}
div.post p{
    text-indent: 0em;
}
.desc_img{
    margin-top: 6px;
}
/**/
#cnblogs_post_body table.code-table{
    width: 100%;
    background-color:#EEE;
    border: 1px solid #CCC;
}
#cnblogs_post_body table.code-table td.number{
    width: 20px;
    text-align: right;
    padding: 2px 6px 0px 0px;
    border-right: 3px solid #6CE26C;    
    color: Gray;
}
#cnblogs_post_body table.code-table td.code{
    padding: 0px 6px;
}
#cnblogs_post_body table.code-table td.span{
    border: 0px solid gray;
}
table.msdn{
    border-collapse: collapse;
}
table.msdn thead td, table.msdn th{
    background-color: #eee;
}
table.msdn td, table.msdn th {
    border: #bbb 1px solid;
    padding: 5px;   
}
div#sidebar div#about a {
    text-decoration: none;
    color: #69C;
    font-weight: bold;
}

#links{
    background-color: #31363E;
    color: #a0a0a0;
}