#navList, #profile_block, .mySearch, .catListLink,
    #post_next_prev, #author_profile_detail,
    #green_channel, .ad_text_commentbox, #blog_news_kb, #site_nav_under, #ad_under_post_holder
{
    xdisplay: none;
}

#nav_sitehome
{
    display: none;
}



/* Scrollbars */
::-webkit-scrollbar {
   background: #FEFEFE;
    width: 17px;
    height: 17px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    margin-left: 10px;
}
/* Background */
::-webkit-scrollbar-track-piece {
    margin: 4px;
    border: solid 4px transparent;
    border-right-width: 8px;
}
/* Bottom bar background */
::-webkit-scrollbar-track-piece:horizontal {
    border-right-width: 4px;
    border-bottom-width: 8px;
}
/* Bar element (thumb) */
::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-right-width: 5px;
    border-left-width: 5px;
    -webkit-border-radius: 9px 6px;
    -webkit-box-shadow: inset 0 0 0 1px rgb(200,200,200), inset 0 0 0 6px rgb(200,200,200);
}
/* Darken rollover */
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 0 1px rgb(161,161,161), inset 0 0 0 6px rgb(161,161,161);
}
/* Horizontal thumb */
::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 5px;
    border-bottom-width: 5px;
    -webkit-border-radius: 6px 9px;
}