* {
    box-sizing: border-box;
}

p {
    color: #555454;
}

.headermaintitle, a {
    color: #555454;
}

li {
    color: #555454;
}

#sideCatalog-catalog {
    padding-bottom: 10px;
}

#cnblogs_post_body p {
    text-indent: 20px;
}

.cnblogs_code {
    margin-left: 20px;
}

#cnblogs_post_body *, .addpostBody {
    font-size: 18px;
    font-weight: 300;
}

    .addpostBody .addmulu {
        font-size: 20px;
        font-weight: 400;
        color: #AA7652;
    }

    .addpostBody .close_directory {
        display: none;
    }

    .addpostBody ul {
        margin: 3px 45px;
    }

    .addpostBody li, .addpostBody #sideCatalog-catalog ul .active {
        background: #FBF9F9;
    }

    .addpostBody #sideCatalog-catalog li {
        font-size: 18px;
        font-weight: 300;
        list-style: inherit !important;
    }

#post_detail blockquote {
    margin: 10px 0px;
    padding: 15px 20px 15px 60px;
    background: url('http://images2015.cnblogs.com/blog/208266/201509/208266-20150912092125669-1671697197.png') no-repeat scroll 20px 0px #F0F0B2;
    box-shadow: 0px 0px 2px #AAA;
    clear: both;
    border: 0px solid #EFEFEF;
}

.postTitl2 {
    float: none;
    text-align: left;    
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
}

/*h5 {
    margin: 10px 0px;
    padding: 15px 20px 15px 60px;
    background: url('http://images2015.cnblogs.com/blog/208266/201509/208266-20150912092320559-2043913403.png') no-repeat scroll 20px 0px #FCFAA9;
    box-shadow: 0px 0px 8px #AAA;
    clear: both;
    border: 0px solid #EFEFEF;
}*/

h6 {
    /*margin: 20px 0;
    padding: 12px 20px 15px 60px;
    background: rgb(255, 255, 163) url('http://images2015.cnblogs.com/blog/208266/201509/208266-20150912092320559-2043913403.png') no-repeat 9px 0px;
    font-size: 15px;
    font-family: 'Microsoft Yahei';
    box-shadow: 0 0 8px #aaa;
    clear: both;*/
    /*margin: 10px 0px;
    padding: 15px 20px 15px 60px;
    background: url('http://images2015.cnblogs.com/blog/208266/201509/208266-20150912092320559-2043913403.png') no-repeat scroll 20px 0px #F0F0B2;
    box-shadow: 0px 0px 2px #AAA;
    clear: both;
    border: 0px solid #EFEFEF;*/
}

.code {
    font-size: 18px !important;
}

.postBody a, .feedbackCon a {
    text-decoration: none;
    color: #c28f6c;
}

    .postBody a:hover, .feedbackCon a:hover {
        text-decoration: none;
        color: red;
    }

a:hover {
    color: red;
}

#cnblogs_post_body div, h2 {
    overflow: hidden;
}



/*清除浮动*/
.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

.clearfix {
    *zoom: 1; /*兼容IE低版本*/
}

/*注释5FBDCE*/
/*主标题*/
#cnblogs_post_body h1, .addpostBody h1 {
    /*margin: top right bottom left*/
    margin: 15px auto 8px 2px; /*外边据*/
    padding: 5px 8px; /*内边距*/
    font-size: 18px; /*字体大小*/
    /*border-radius: 5px;*/ /*圆角边框*/
    background-color: #F5F5F4;
    color: #AA7652;
    border: 1px solid #d0cfcf;
}
/*副标题*/
#cnblogs_post_body h2, .addpostBody h2 {
    margin: 10px auto 4px 0px; /*外边据*/
    padding: 3px 4px; /*内边距*/
    font-size: 16px; /*字体大小*/
    /*border-radius: 5px;*/ /*圆角边框*/
    /*border: 1px solid #AA7652;*/
    background-color: #F5F5F4;
    color: #AA7652;
    border: 1px solid #d3cfcf;
}

#leftcontentcontainer h3 {
    margin: 10px auto 0px 0px; /*外边据*/
    padding: 3px 3px; /*内边距*/
    font-size: 15px; /*字体大小*/
    background-color: #F5F5F4;
    color: #AA7652;
    border: 1px solid #e9e4e4;
}

#leftcontentcontainer ul {
    margin-left: 5px;
}
/*注意说明*/
#cnblogs_post_body h5 {
    padding: 15px;
    margin-top: 5px;
    background-color: #f8eeb3;
}

/*标题*/
#topics .postTitle {
    font-size: 25px;
    text-align: center;
}

/*#topics a:visited {
    color: #AA7652;
}*/

#topics a:hover {
    text-decoration: none; /*取消下划线*/
}

/*时钟*/
#div_clock {
    background-color: #F5F5F4;
    /*box-shadow: 3px 3px 2px #F5EEEE;*/
    color: #B29C9C;
    border: 1px solid #eee;
}

body {
    font-size: 12px;
    background: #fbf9f9 50% top scroll no-repeat;
    color: #5d5d5d;
}

/*自定义区域*/
.zdycz {
    text-align: right;
}

    .zdycz input {
        margin-right: 8px;
        width: 100px;
        height: 30px;
        border-radius: 3px;
    }

.myadd {
    /*border: 1px dashed #eee;*/
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.myadd_left {
    box-sizing: border-box;
    float: left;
    height: 200px;
    overflow: hidden;
    width: 30%;
}

#cnblogs_post_body {
    overflow: hidden;
}

.myadd_right {
    box-sizing: border-box;
    float: right;
    /*height: 200px;*/
    width: 70%;
}

    .myadd_right > div {
        /*margin-top: 4px;*/
        box-sizing: border-box;
        line-height: 66px;
        /*border: 1px solid #DEBD94;*/
        margin-right: 3px;
        border-bottom: #dddddd 1px solid;
        /*border-top: #FFF 1px solid;*/
        background-color: #F9F9F9;
        padding-left: 20px;
        /*opacity: 0.6;*/
        color: #ef7000;
        font-size: 16px;
        font-weight: 700;
    }

        /*自定义区域a标签 效果*/
        .myadd_right > div > a {
            color: #f78520;
        }

            .myadd_right > div > a:hover {
                color: #e97f21;
                font-size: 18px;
            }

            .myadd_right > div > a:before {
                left: -0.1em;
                content: '[';
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
                opacity: 0;
                -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
                transition: opacity 0.2s, transform 0.2s;
            }

            .myadd_right > div > a:after {
                right: -0.1em;
                content: ']';
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
                opacity: 0;
                -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
                transition: opacity 0.2s, transform 0.2s;
            }

            .myadd_right > div > a:hover::before, .myadd_right > div > a:hover::after {
                opacity: 1;
                -webkit-transform: translateX(0);
                transform: translateX(0);
                color: #e97f21;
                font-size: 18px;
            }

/*快速评论*/
#div_digg {
    position: fixed;
    bottom: 10px;
    right: 100px;
    border: 2px solid #B6B3B3;
    padding: 10px;
    width: 150px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 0 0 1px #9D9A9A, 1px 1px 6px 1px #9E9797;
    z-index: 100;
    display: none;
}

/*上一篇*/
#post_next_prev {
    font-size: 15px;
    background-color: #F0F0B2;
    border: 1px solid #d0cfcf;
}

    #post_next_prev a:hover {
        color: #f30;
        font-size: 16px;
        border: 2px solid #ECD7B1;
    }

/*****************************************/
/*搜索框*/
/*.text_bing_Search {
    margin-bottom: 0;
    width: 100px;
    height: 20px;
}*/
.text_bing_Search, .input_my_zzk, .text_select_tag {
    float: left;
    margin-left: 3px;
    outline: 0px solid #c6bebe;
    border: 1px solid #d7d6d6;
    width: 130px;
    height: 25px;
}

/*搜索按钮*/
.a_bing_Search, .a_open_tag, input.btn_my_zzk {
    /*border: 1px solid #0094ff;*/
    background-color: #F5F5F4;
    text-decoration: none;
    float: left;
    padding-left: 3px;
    outline: 0px solid #c6bebe;
    height: 25px;
    line-height: 25px;
    /*width:55px;*/
}

    .a_bing_Search:hover, .a_open_tag:hover, .btn_my_zzk:hover {
        background-color: #e1d7d7;
        border: 0px solid #ffffff;
        color: #000;
    }

    .a_bing_Search:active, .a_open_tag:active, .btn_my_zzk:active {
        background-color: #beb7b7;
        border: 0px solid #ffffff;
        color: #000;
    }





/*搜索*/
.div_my_zzk {
    padding: 4px;
    margin-bottom: 5px;
    width: 198px;
    background-color: #F5F5F4;
    display: block;
    border: 1px solid #eee;
    margin-left: 5px;
}

/*隐藏xml图标*/
#MyLinks1_XMLLink {
    display: none;
}
/*隐藏 闪存*/
#MyLinks1_IngLink {
    display: none;
}

/**/
.blog_comment_body {
}

    .blog_comment_body span {
        /*width: 0;
     height: 0;
     font-size: 0;*/
        /*overflow: hidden;*/ /*属性规定当内容溢出元素框时发生的事情*/
        /*position: absolute; */ /*生成绝对定位的元素;*/
    }

        .blog_comment_body span.bot {
        }

        .blog_comment_body span.top {
        }

/*清空系统评论区背景*/
.feedbackCon {
    background: transparent;
}

/*******************评论区begin*************************/

/*评论区容器*/
.feedbackCon {
    padding-top: 13px;
    padding-bottom: 10px;
}

/*评论内容*/
.blog_comment_body {
    border: 1px dashed #f8eeb3;
    float: left;
    border-radius: 15px;
    padding: 5px;
    width: 75%;
    background-color: #F5F5F4;
}
/* 评论 左边图片容器*/
.body_right {
    margin-right: 20px;
}
/* 评论 右边 点赞 反对*/
.comment_vote {
    padding-top: 40px;
    float: right;
}

/*评论区的图片*/

.body_right img {
    border-radius: 40px;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

    .body_right img:hover {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }

/*******************评论区end*************************/

/*友链背景颜色*/
.divyoulian, #footer {
    background-color: #f1eeee;
}

#footer {
    margin-top: 10px;
    border-top: 1px solid #eee;
}
/*有事Q我 动画*/
.div_qq {
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 800ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    position: relative;
    padding-top: 15px;
}

    .div_qq:hover {
        -webkit-animation-name: myfirst;
        -webkit-animation-duration: 300ms;
        -webkit-animation-iteration-count: 1;
        position: relative;
    }

@-webkit-keyframes myfirst {
    0% {
        left: 0px;
        top: 0px;
    }

    5% {
        left: 2px;
        top: 0px;
    }

    10% {
        left: 2px;
        top: 2px;
    }

    15% {
        left: 0px;
        top: 2px;
    }

    20% {
        left: 1px;
        top: 1px;
    }

    25% {
        left: 2px;
        top: 0px;
    }

    30% {
        left: 2px;
        top: 2px;
    }

    35% {
        left: 0px;
        top: 2px;
    }

    40% {
        left: 1px;
        top: 1px;
    }

    100% {
        left: 1px;
        top: 1px;
    }
}

/*搜索标签 区域 div*/
.div_select_tag {
    /*height: 30px;*/
}

/*搜索标签 下拉框*/
.select_list_tag {
    position: relative;
    margin-top: 0;
    margin-left: 2px;
}



/*目录*/
#sideToolbar {
    position: fixed;
    bottom: 150px;
    right: 5px;
    width: 243px;
    background-color: #fff;
    padding-left: 10px;
    border: 1px solid #AA7652;
}

#sideToolbar, #open_directory {
    border-radius: 5px;
    background-color: #f7f5f5;
    color: #AA7652;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(0.1, #f7e3d5), to(#eee));*/
}

    #sideToolbar a, #open_directory a {
        color: #AA7652;
    }

#sideCatalog-catalog ul .active {
    background-color: #edeb98;
}

#sideCatalog li.h2Offset {
    padding-left: 25px;
}

#sideCatalog li.close_directory {
    padding-right: 10px;
}
