/* Minification failed. Returning unminified contents.
(129,52): run-time error CSS1036: Expected expression, found ';'
(177,58): run-time error CSS1062: Expected semicolon or closing curly-brace, found ')'
 */
/**************************************************
时间：2010-7-12
作者：橡树小屋
**************************************************/

#EntryTag {margin-top: 20px;font-size: 9pt;color: gray;}
.topicListFooter {text-align: right;margin-right: 10px;margin-top: 10px;}
#divRefreshComments{text-align: right; margin-right: 10px;margin-bottom: 5px;font-size: 9pt;}
/*****第一部分结束*******************************/

* {margin: 0;padding: 0;}
html {height: 100%;}
body {color: #000;background: #FFF url(http://images.cnblogs.com/cnblogs_com/babyzone2004/253070/o_header_bg.gif) repeat-x 0 30px;font-family: "verdana","ms song","宋体","Arial","微软雅黑", "Helvetica", "sans-serif";
	font-size: 9pt;min-height: 101%; position:relative}
table {border-collapse: collapse;border-spacing: 0; margin:0 auto;}
fieldset, img {border: 0;}
ul {word-break: break-all;}
li {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
a:link {color:#5a5a5a;text-decoration: none;}
a:visited {color:#5a5a5a;text-decoration: none;}
a:hover {color: #e36a00;text-decoration: underline;}
a:active {color: black;text-decoration: none;}
.clear {clear: both;}
/*****第二部分结束*******************************/

/*****home和头部开始**************************/
#home {margin:0;width:100%;background:url(http://images.cnblogs.com/cnblogs_com/babyzone2004/253070/o_grass.jpg) 80px 100% no-repeat; }
#header {width:990px; height:196px; margin:0 auto; position:relative; }
#blogTitle {width:990px;height:30px; background:url(http://images.cnblogs.com/cnblogs_com/babyzone2004/253070/o_shadowUp.gif) no-repeat left bottom;}
#blogTitle  .title{font-size:18px;font-weight: bold; color:#9b4805; float:left; margin-left:260px;line-height:1.7em; }
#blogTitle .title  a:link{ }
#blogTitle .subtitle {line-height: 2em; color:#858585; float:left; margin-left:6px; padding-top:5px;}
#blogLogo {float: right;}
#navigator {width:990px;height:166px;
 background:url(http://images.cnblogs.com/cnblogs_com/babyzone2004/253070/o_header.jpg) no-repeat;position:relative;}
#navList {min-width:24px; font-weight:bold; position:absolute; bottom:6px; left:270px; display:block}
#navList li {float: left; }
#navList a {display: block; padding:0 6px;float:left;text-align: center; font-size:16px;}
#navList a:link, #navList a:visited, #navList a:active {color: #a65004;}
#navList a:hover {color: #e36a00}

.blogStats {color:#9b6f4a; position:absolute; right:0px; top:8px;}
/*****home和头部结束**************************/

/*****主页文章列表开始**************************/
#main{width:990px; margin:0 auto; padding-top:17px; background:url(http://images.cnblogs.com/cnblogs_com/babyzone2004/253070/o_shadowDown.gif) no-repeat 0 0;}
#mainContent { padding:0 0 120px 25px;float: right; width:716px; border-left:1px solid #c49368; margin:20px 0 100px;}
.day {min-height: 10px;_height: 10px;padding-bottom: 5px;}
.dayTitle {color:#666;line-height: 1.5em;font-size:14px;text-align:right; padding-bottom:2px;}
.postTitle {font-size:12px; font-weight:bold;border-bottom: 1px solid #e8ccb6;float: right;line-height: 1.5em; width:500px}
.postTitle2{ margin-right:48px; padding-right:65px; background:url(http://images.cnblogs.com/cnblogs_com/babyzone2004/253070/o_tea.jpg) no-repeat #FFF right -2px; padding-top:18px;		             display:block; position:relative; top:3px; float:right; }
.postTitle a:link, .postTitle a:visited, .postTitle a:active {color: #c2763c;}
.postTitle a:hover {color: #e36a00;text-decoration: none;}
.postCon {width:716px; overflow:hidden;float: right;line-height: 1.5em;width: 100%;clear:both;padding: 10px 0;}
.postDesc {float: left;;clear:both;padding-left:2em;color: #666;margin:12px 0;}
.postSeparator {clear: both;height: 1px;clear:both;float: right;
                margin: 0 auto 15px auto;}
/*****主页文章列表开始**************************/

/*****侧边栏开始********************************/
#sideBar {width:204px; position:relative;overflow: hidden;word-break: break-all; top:-180px; left:33px; padding:0 8px;color:#5a5a5a;}
.newsItem .catListTitle {display: none;}
.newsItem {padding: 15px 30px 5px 30px;margin-bottom: 8px;}
/**日历控件样式开始**/
#calendar {width: 195px;}
#calendar .Cal {width: 100%;line-height: 1.5em;}
.Cal {/**日历容器table**/border: none;color: #666;}
#calendar table a:link, #calendar table a:visited, #calendar table a:active {font-weight: bold;}
#calendar table a:hover {color: white;text-decoration: none;background-color: #F60;}
.CalTodayDay{/**今天日期样式**/color:#f60;}
#calendar .CalNextPrev a:link,#calendar  .CalNextPrev a:visited, #calendar .CalNextPrev a:active {/**上个月、下个月箭头样式**/
	font-weight: bold;background-color: white;}
.CalDayHeader{border-bottom:1px solid #ccc;	}
.CalTitle{/**日历年月头部样式**/
	width:100%;background:white;color:black;border-bottom:1px solid #666;	}
/**日历控件样式结束**/
.catListTitle {font-weight: bold;line-height: 1.5em;font-size:16px;margin-top: 15px;margin-bottom: 10px; margin-left:1em;color:#5a5a5a;}
.catListComment {line-height: 1.5em; }
.divRecentCommentAticle{padding-left:1.5em; padding-right:1.5em}
.divRecentComment {padding-left:1.5em;text-indent: 2em;color: #666; padding-right:1.5em}
#sideBarMain ul {line-height: 1.8em; padding-left:2em; padding-right:1.5em}
/*****侧边栏结束********************************/


/****查看文章页面开始*************************/
#topics {width: 100%;padding: 0px 0px 10px 0;float: left;-o-text-overflow: ellipsis;text-overflow: ellipsis;
	overflow: hidden;word-break: break-all;}
#topics .postTitle {font-size: 130%;font-weight: bold;border-bottom: 1px solid #999;float: left;
	line-height: 1.5em;width: 100%;padding-left: 5px;}
.postBody {padding:24px 2px 5px 5px;line-height: 1.5em;color: #403226;border-bottom: 1px solid black;}
#EntryTag {color: #666;}
#EntryTag a {margin-left: 5px;}
#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active {color: #666;}
#EntryTag a:hover {color: #f60;}
#topics .postDesc {float: right;width: 100%;text-align: right;padding-right: 5px;color: #666;margin-top: 5px;}
.feedback_area_title {font-weight: bold;border-bottom: 1px solid #333;padding: 10px 16px;color: #c2763c; font-size:14px; margin-bottom:12px}
.louzhu {background:transparent url('images/icoLouZhu.gif') no-repeat scroll right top;padding-right:16px;}
.feedbackListSubtitle {color: #666;}
.feedbackManage {width: 200px;text-align: right;float: right;}
.feedbackCon {border-bottom: 1px solid #ccc;background: url('/images/comment.gif') no-repeat 5px 5px; color:#403226;
               padding: 15px 18px 10px 50px;min-height: 35px;_height: 35px;margin-bottom: 1em;line-height: 1.5em;}
#divRefreshComments {
	text-align: right;
	margin-bottom: 10px;
}
.commenttb {
	width: 320px;
}
/****查看文章页面开始*************************/

/****列表页面开始******************************/
.entrylistTitle,.PostListTitle,.thumbTitle{/**几个分类列表的标题样式**/font-size:14px;font-weight: bold;border-bottom: 1px solid #a65004;;text-align: right;padding:3px 65px;color: #c2763c; background:url(http://images.cnblogs.com/cnblogs_com/babyzone2004/253070/o_tea.jpg) no-repeat #FFF right -4px; margin-bottom:12px}

.entrylistDescription {color: #666;text-align: right;padding-top: 5px;padding-bottom: 5px;padding-right: 10px;margin-bottom: 10px;}
.entrylistItem {min-height: 20px;_height: 20px;margin-bottom: 30px;padding-bottom: 5px;width: 100%;}
.entrylistPosttitle {font-size: 110%;font-weight: bold;border-bottom: 1px solid #666;line-height: 1.5em;width: 100%;
	padding-left: 5px;}
.entrylistPosttitle a:hover {text-decoration: none;}
.entrylistPostSummary {margin-top: 5px;padding-left: 5px;margin-bottom: 5px; color:#403226}
.entrylistItemPostDesc {text-align: right;color: #666;}
.entrylistItemPostDesc a:link, .entrylistItemPostDesc a:visited, .entrylistItemPostDesc a:active {color: #666;}
.entrylistItemPostDesc a:hover {color: #f60;}
.entrylist .postSeparator {clear: both;width: 100%;font-size: 0;line-height: 0;margin: 0;padding: 0;height: 0;border: none;}

.pager {text-align: right;margin-right: 10px;}
.PostList {border-bottom: 1px solid #ccc;clear: both;min-height: 1.5em;_height: 1.5em;padding-top: 10px;padding-left: 5px;				    		padding-right: 5px;margin-bottom: 5px;}
.postTitl2 {float: left;}
.postDesc2 {color: #666;float: right;margin-right: ;}
.postText2 {clear: both;color: #666;}
.pfl_feedback_area_title {text-align: right;line-height: 1.5em;font-weight: bold;border-bottom: 1px solid #666;margin-bottom: 10px;}
.pfl_feedbackItem {border-bottom: 1px solid black;margin-bottom: 20px;}
.pfl_feedbacksubtitle {width: 100%;border-bottom: 1px dotted #666;height: 1.5em;}
.pfl_feedbackname {float: left;}
.pfl_feedbackManage {float: right;}
.pfl_feedbackCon {color:#403226;padding-top: 5px;padding-bottom: 5px;}
.pfl_feedbackAnswer {color: #F40;text-indent: 2em;}
.tdSentMessage {text-align: right;}
.errorMessage {width: 300px;float: left;}
#side_ing_block ul li a.ing_lnk:hover{color:#e36a00; text-decoration:underline;}
.div_my_zzk{ padding-left:18px;; margin:4px 0;}
.mySearch #q,.mySearch #google_q {height: 1.4em;width: 90px;}
/****列表页面结束******************************/

/****相册页面开始******************************/
.divPhoto {border: 1px solid #ccc;padding: 2px;margin-right: 10px;}

.thumbDescription {color: #666;text-align: right;padding-top: 5px;padding-bottom: 5px;padding-right: 10px;margin-bottom: 10px;}
/****相册页面开始******************************/


/*****留言页面开始*****************************/
#footer {text-align: right;border-top: 1px solid #c0c0c0;padding: 10px; height:40px; color:#868686; line-height:1.5em;}
#myWord{ position:absolute; bottom:14px;right:10px; color:#868686;}
/*留言查看页面的个人信息*/
.personInfo {margin-bottom: 20px;}
/*留言分页区域*/
.pages {text-align: right;}
/*****留言页面结束*****************************/
/*****第三部分结束*******************************/

/*文章内部常用标签格式*/
.postBody {line-height: 2em;}
.postBody p,.postCon  p{font-size:14px;text-indent: 2em;margin: 0 auto 1em auto;}
.postBody h2{font-size: 150%;margin: 15px auto 2px auto;font-weight:bold;}
.postBody h3 {font-size: 120%;margin: 15px auto 2px auto;font-weight:bold;}
.postBody h4{font-size:110%;margin:15px auto 2px auto;font-weight:bold;color:#333;}

.postBody h5{font-size:100%;margin:15px auto 2px auto;font-weight:bold;color:#333;}

.postBody a:link,.postBody a:visited,.postBody a:active{text-decoration:underline;}
.postCon a:link,.postCon a:visited,.postCon a:active{text-decoration:underline;}
.postBody ul,.postCon ul{margin-left:2em;	}

.postBody li,.postCon li{list-style-type:disc;margin-bottom:1em;}

.postBody blockquote{background:url('images/comment.gif')) no-repeat 25px 5px;
    				padding:10px 60px 5px 60px;min-height:35px;_height:35px;line-height:1.6em;color:#333;
}

.login_tips { background-position:left bottom; padding-bottom:0; margin-bottom:6px;}

