#div_digg{ position:fixed; _position:absolute;z-index:1000;bottom:0; right:0; _right:17px; background-color:#FFFFFF;border:2px solid red;filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8; }
.postBody h3
        {
            margin:15px auto 2px;
            display:block;
            font-size:1.17em;
            font-weight:bold;
        }
h3
        {
            background-color: green;
            padding-bottom:6px;
            margin:10px 0px;
            padding-left:6px;
            padding-right:6px;
            color:black;
            padding-top:6px;
            -moz-border-radius:5px;
            text-shadow:1px 1px 2px #404040;
            border-radius:5px;
            
        }
#MySignature{
      background-color:lightgreen;
      border:2px solid green;
      
}
#MySignature table
{
    border:2px solid green;
    width:99%;
    margin:3px auto;
}
#tdSign
{
    width:100px;
   }

blockquote{
background-color:#D5D5D5;}