#MySignature{
    border: black 1px solid;
    background-color: red;
    color: white;
    padding: 10px;
}


.blog_comment_body{
    color:black;
}


#digg_count:after{
   content:'w'
}

#blog-news{
    font-family: 微软雅黑;
    font-size: 20px;
    text-align: center;
}

#div_digg {
    position: fixed;
    bottom: 10px;
    right:0px;
    width: 140px;
    border: 2px solid #169FE6;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
}
#div_digg {
    float: right;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 12px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}

.sidebar-block ul li a{
    background-color:#5CB85C;
    color:white;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

#p_b_follow{
   display:none;
}