.cnblogs-markdown p
{
  font-size: 15px;
}
.cnblogs-markdown li
{
  font-size: 15px;
}
/*
.cnblogs-markdown blockquote
{
padding: 0px 10px 10px 20px;
line-height: 2.0em;
}
*/
.cnblogs-markdown blockquote {
    margin: 10px 0px;
    padding: 15px 20px 15px 60px;
    background: url('http://images.cnblogs.com/cnblogs_com/libaoheng/305804/o_yellow-pin.png') no-repeat scroll 20px 0px #FCFAA9;
    box-shadow: 0px 0px 8px #AAA;
    clear: both;
    border: 0px solid #EFEFEF;
}


/*推荐*/
/*
#div_digg {
float:right;
font-size:12px;
margin-bottom:10px;
margin-right:30px;
margin-top:10px;
text-align:center;
width:120px;
position: fixed; right: 0px; 
bottom: 0px; z-index: 10; 
background-color: white;
margin: 10px; padding: 10px; 
border: 1px solid rgb(204, 204, 204);
}
.vote
{
float:right;
font-size:12px;
margin-bottom:10px;
margin-right:30px;
margin-top:10px;
text-align:center;
width:120px;
position: fixed; right: 0px; 
bottom: 0px; z-index: 10;
background-color:white;
margin: 10px; padding: 10px; 
border: 1px solid green;
}
*/

/*签名*/
#xishuai_qianming{
    margin-top: 10px;
}
#xishuai_qianming{
    background: url("http://images.cnitblog.com/blog/435188/201408/122329534672560.png") no-repeat scroll 1% 50% rgb(255, 254, 254);
    border: 1px solid rgb(229, 229, 229);
    padding: 10px 10px 10px 65px;
}

#cnblogs_post_body{
   font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
}

#cnblogs_post_body p{
   margin: 10px auto;
   padding-bottom: 5px;
   text-indent: 2em;
   line-height: 2em;
}

#cnblogs_post_body ul {
  list-style-type: disc;
  margin-left: 45px;
  padding-left: 0;
}

#cnblogs_post_body h1 {
   font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 28px;
   font-weight: bold;
   color: #365F91;
   padding-top: 15px;
   line-height:1.8em;
}
#cnblogs_post_body h2 {
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma !important;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.8em;
    margin: 15px 0px !important;
    padding: 5px 0px 5px 20px;
   color: #365F91;
}
#cnblogs_post_body h3 {
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma !important;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8em;
    margin: 15px 0px !important;
    padding: 5px 0px 5px 25px;
   color: #365F91;
}
/*标题h2*/
/*
#cnblogs_post_body h2 {
    background: none repeat scroll 0% 0% rgb(43, 102, 149);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 0px 0px 1px rgb(95, 90, 75), 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: rgb(255, 255, 255);
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma !important;
    font-size: 17px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 15px 0px !important;
    padding: 5px 0px 5px 20px;
    text-shadow: 2px 2px 3px rgb(34, 34, 34);
    width: 98%;
}
#cnblogs_post_body h2 a{
   color: rgb(235, 235, 235);
}
#cnblogs_post_body h2 a:hover{
   color: rgb(255, 102, 0);
}
*/
/*随笔标题*/
.postTitle {
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
	line-height:1.5em;font-size: 18px;
	width: 100%;
	clear:both;
}
.postTitle a:link, .postTitle a:visited, .postTitle a:active {
	transition:all 0.4s linear 0s
}
.postTitle a:hover {
	color: #F60;
	text-decoration: none;margin-left: 10px;
}
.postCon{
    line-height: 2.0em;
}
.postCon p {
   margin: 10px auto;
   padding-bottom: 5px;
   text-indent: 2em;
   font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 14px;
   line-height: 1.8em;    
}
.postBody {
    padding: 5px 15px 5px 30px;
    line-height: 2em;
}
/*笔记标注*/
.note {
    margin: 10px 0px;
    padding: 15px 20px 15px 20px;
    background: url("http://images.cnblogs.com/cnblogs_com/libaoheng/305804/o_yellow-pin.png") no-repeat scroll 20px 0px rgb(252, 250, 169);
    /*
    font-size: 15px;
    font-family: 'Microsoft Yahei';
    */
    box-shadow: 0px 0px 8px rgb(170, 170, 170);
    clear: both;
}

/*宽度调节*/
#home {
    width: 98%;
}
#mainContent {
    width: 81%;
}
#div_digg {
    right: 19.5%;
}
#cnblogs_post_body ul {
margin-top: 10px;
}
#cnblogs_post_body li {
margin-bottom: 0.7em;
}
.cnblogs_code pre {
  line-height: 1.2em;
}