#cnblogs_post_body h1 {
    background-color: gray;
    border-width: 0;
    color: white;
    font-family: 微軟雅黑,Consolas,黑体;
    font-size: 16px;
    margin: 15px 0;
    padding: 5px;
}
custom...d=66217 (第 1 行)
.postBody h1 {
    line-height: 1.5;
}