.banner_title
{
  color:#CD4900;
}
#top_info
{
background:url(http://static.m1905.com/201009/images/nav0722_mini.gif) left top repeat-x;
    height:25px;
    width:100%;
    font-size:13px;
}
#top_info_left
{
    float:left;
    height:25px;
    padding:5px;
}
#top_info_right
{
    float:right;
    height:25px;
    padding:5px;
}
.clearboth
{
    clear:both;
}
#hjdict_daily object
{
    display:none;
}
#blogTitle h2
{
    display:block;
}
#blog-sidecolumn a:hover
{
    left:20px;
    position:relative;
    color:#CD4900;
}
.postTitle a
{
    color:#4187d5;
}