/* Minification failed. Returning unminified contents.
(305,10): run-time error CSS1035: Expected colon, found '1px'
 */
/* CLEARSCREEN .TEXT SKIN by Miguel Jimenez @ http://blogs.clearscreen.com/migs */
/* This is linkware, you are free to use it if you keep the link to the skin download at the footer section */

/* Links of all the skin */
a:link, a:active {color : #56B6E9;}
a:visited {color : #56B6E9;}
a:hover {color : #94D0F1;}

/* Main Body Properties */
body {
	background-image:url('images/back.gif');
	margin:0px;
	padding:0px;
	font-family: Verdana,Arial,helvetica,sans-seriff;
	font-size:12px; /*small*/
	word-wrap: break-word;
}

/* Header */
.header {
	height:85px;
	background-color: #ffffff;
	border-bottom:1px dotted #8B8D72;
	padding-left:264px;
	padding-top:15px;
}

a.headermaintitle {
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
}

/* Floating Left Menu */
#leftcontent {
	position : absolute;
	top : 20px;
	left : 20px;	
	width : 220px;
	background-color : #FFFFFF;	
	border : 1px dotted #8B8D72;
	border-top: 8px solid #8B8D72;
	border-bottom: 8px solid #8B8D72;	
}

#leftcontentcontainer  {
	padding:10px;
}

#centercontent {
   	padding-top:25px;
   	padding-right:20px;
   	padding-left:260px;
}

#mytopmenu {
	color:#8B8D72;
	border:1px dotted #8B8D72;
	border-top:0px;
   	background-color:White;
   	padding:8px;
   	padding-left:10px;
   	padding-right:10px;
	margin-top:0px;
	margin-right:20px;
   	margin-left:260px;
   	text-align:right;
}	

#rightcontent {
	position: absolute;
	right:10px;
	top:70px;
	width:200px;
	background:#fff;
}

#mylinks {
	position:absolute;
   	padding:8px;
   	padding-left:12px;
   	padding-right:12px;
   	left:260px;
	}
		
.footer {
	color:#8B8D72;
   	padding:12px;
   	padding-left:10px;
	margin-top:0px;
	margin-right:20px;
   	margin-left:260px;
   	text-align:center;
   	line-height:20px;
}	
/* End Layout and Formatting */

.day {
	border:1px dotted #8B8D72;
   	background-color:White;
   	padding:20px;
	color:#7B7D62;
	margin-bottom:20px;
}

.dayTitle {
	font-size:13px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:20px;	
}

.postSeparator {
	border-top:1px dotted #8B8D72;
	margin-top:20px;
	margin-bottom:20px;
}

.news {
	font-family:Verdana;
	font-weight:bold;
}

.newsItem {
	margin-top:2px;
	margin-bottom:20px;
}

.blogstats {
	font-size:10px;
}

.entrylist {
	border:1px dotted #8B8D72;
   	background-color:White;
   	padding:20px;
   	padding-bottom:8px;
	color:#7B7D62;
}

.entrylistTitle {
	font-family:verdana;
	font-size:16px;
	font-weight:bold;
	color:Black;
}

.entrylistDescription {
	margin-bottom:20px;
}

.entrylistItemTitle {
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
}

.entrylistItemPostDesc {
	font-size:10px;
}

.gallery {
	border:1px dotted #8B8D72;
   	background-color:White;
   	padding:20px;
	color:#7B7D62;
}

.galleryTitle {
	font-family:verdana;
	font-size:16px;
	font-weight:bold;
	color:Black;
}

.galleryDescription {
	margin-bottom:20px;	
}

.galleryThumbnail {
	padding:20px;
	padding-left:0px;
}
.post {
	border:1px dotted #8B8D72;
   	background-color:White;
   	padding:20px;
	color:#232323;
	font-size:14px;
	line-height:1.8;
}

.postTitle {
	font-size:13px;
	font-weight:bold;
	margin-bottom:10px;
}

.postTitle2 {
	text-decoration:none;
	font-size:13px;
}

.postDesc {
	color:#4B8D32;
	margin-top:10px;
}

.contact {
	border:1px dotted #8B8D72;
   	background-color:White;
   	padding:20px;
   	padding-left:22px;
	font-family:Verdana;
	font-weight:bold; 	
}

.comments {
	border:1px dotted #8B8D72;
	border-top:0px;	
   	background-color:White;
   	padding:20px;
   	padding-left:22px;
   	padding-top:0px;
	font-weight:bold; 	
}

.commentsTable {
	margin-top:15px; 
}

.feedback {
	border:1px dotted #8B8D72;
	border-bottom:0px;	
   	background-color:White;
   	margin-top:20px;
   	margin-bottom:0px;
   	padding:20px;
   	padding-bottom:30px;
}

.feedbackTitle {
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
}

.feedbackItem, .feedbackNoItems {
	margin-bottom:0px;
	margin-top:20px;
	line-height:150%;
	font-size:12px;
}

.feedbackList {
	list-style: none;
	margin-left:0px;
	margin-right:0px; 
	padding-left: 0;
	padding-right: 0;
}

.feedbackListTitle {
	padding-bottom:6px;
	position:absolute;
	font-size:12px;
	text-transform:uppercase;
	padding:5px;
	padding-left:7px;
	color:#8B8D72;
}

.feedbackListSubtitle {
	background-color:#eBeDf2;
	color:#8B8D72;
	padding:5px;
	padding-right:7px;
	border:1px dotted #8B8D72;
	text-align:right;
	font-size:9px;
	text-transform:uppercase;
	margin-bottom:8px;
}

.catListTitle {
	font-family:Verdana;
	font-size:12px;
	margin-bottom:2px;
}

h3
{
	margin-bottom:2px;
}

.catList {
	list-style: none;
	border-top: 0px;
	margin: 0px;
	padding: 0px;
	margin-bottom:20px;
}

catListItem { 
	padding 1px 0px 1 px 0px;
	margin-left: 5px;
	text-align: left;
}

ul {
	list-style: none;
	margin : 0px;
	padding-left : 5px;
	margin-left : 5px;
	margin-bottom : 10px;
	font-size : 12px;
}

.Cal
{

	width:200px;
	font-family:Arial;
	font-size: 12px;
	margin-top:10px;
	margin-bottom:10px;
	height:180px;
	
	 	
}

.CalTitle
{
	background-color :#FFFFFF;
	font-family:Arial;
	font-size: 13px;
	margin-left : 0px;
	padding : 0px;
	height:100%;
	font-weight:bold;
}

.CalOtherMonthDay
{
	color:#808080;
	
}

.CalSelector
{
	background-color:#CCCCCC;
	
}

a.CalNextPrev,a.CalNextPrev:link, a.CalNextPrev:visited, a.CalNextPrev:active
{
	color:#FFF;
}

.CalNextPrev
{
	color:#FFF;
}


.CalDayHeader
{
	background-color:#EFEFEF;
	font-weight:bold;
	
}

.CalSelectedDay
{
    background-color:#CCCCCC;
   
     
}

.CalWeekendDay
{
	background-color:#EFEFEF;
}

.CalTodayDay
{
	background-color:#DDDDDD;
	
    
}

h3
{
	font-size:12px;
}

.news
{
	font-size:12px;
}

.listitem
{
	font-size:12px;
}
