/*全局*/
body { margin: 0 auto;font:12px/1.5  tahoma, arial, \5b8b\4f53, sans-serif; color: #666;background: url(../images/bodybg.jpg)  repeat-x #999; }
h3 { font-size:14px;}
a { color:#0195c5; text-decoration:none;} 
a:hover { color: #333;text-decoration:none;}
img { border:0;}

/*布局*/
.wrapper {width: 960px;	margin: 0 auto;	background: url(../images/containerbg.jpg) repeat-y #fff; position: relative;}
.container {  border:0px solid red;  border:0px solid blue;  }
.content {float: left;	width: 600px;	padding: 0 0 0 50px;margin: 0 0 20px 0;	}

/*头部*/
.header .site{ height:110px; overflow:hidden;}
.header {  background: url(../images/headerbg.jpg)  no-repeat; }
.header h2 {	margin: 0;	font-size: 24px;   padding-left:50px;  margin-top:5px;   line-height:40px;  }
.header p{ margin-top:5px;	padding: 0px 50px 0 50px; font-size:14px;}
.header a {	text-decoration: none;	color: #666;}
.header a:hover {	color: #333;}
.header .nav { padding:0; margin:0px 33px 0 31px;  *margin-top:0px;	background: url(../images/navbarbg.jpg) no-repeat -33px;height: 50px; border:0px solid blue; }
.header .nav li {  list-style-type:none; float: left;}
.header .nav a {	display: block;	 	padding: 0 30px 0 20px; color: #999; line-height: 30px;	background: url(../images/navbuttonbg.gif);	background-position: right 50%;}
.header .nav a:hover,.header .nav .current{	color: #666;	background: url(../images/navbuttonbg-hover.gif);	background-position: right 50%;}
.header .search {text-align:right;padding-top:25px;padding-right:35px;}


/*文章*/
.post {	margin: 0 0 20px 0;}
.post-message{ margin: 0 0 5px 0;}
.post-title { font-size: 16px;	font-weight: bold;	margin: 0 0 5px 0;	border-bottom: 1px solid #ccc;}
.post-content{ font-size:14px;word-wrap:break-word; overflow-x:auto;overflow-y:hidden;margin-top:8px;}
.post-content img {	border: none;}
.post-meta { font-size:12px;}
.post-meta span { padding-right:5px;}

/*评论*/
.commentlist {	list-style-type: none;	margin: 0;	padding: 0;}
.commentlist li {	background: #ebebeb;	padding: 10px 10px 0 10px;	border: 1px solid #ccc;	margin: 0 0 20px 0;}
.commentlist p{ word-wrap:break-word; overflow:auto; }
.commentlist .comment-floor { color:#ccc; font-size:20px;position:absolute;left:590px;}
.commentlist  img {	border: 1px solid #ccc;}
.commentform label{ display:block;}
.comment-author{margin-left:6px;margin-right:6px;}
/*侧栏*/
.sidebar {	margin-left: 700px;	width: 210px; }
.sidebar .widget { margin-bottom:20px;}
.sidebar ul {	list-style-type: none;	margin: 0;	padding: 0;}
.sidebar li{ border-bottom: 1px dotted #ccc; line-height:2.0; padding-left:8px; height:25px;overflow:hidden; }
.sidebar li span{ margin-left:3px; }
.sidebar h3 { 	margin: 0 0 5px 0;	 padding:0; color: #666; border-bottom: 1px solid #ccc; }
.sidebar a {color: #0195c5;	text-decoration: none;}
.sidebar a:hover {	color: #333;	background: #ebebeb;}
.sidebar .recenttags li{ display:inline; border:0;white-space:nowrap;}

/*底部*/
.footer { clear:both; 	height: 110px;	background: url(../images/footerbg.jpg) no-repeat;	 	text-align:center;	 padding:20px 0;}
.footer a {	color: #666;}
.footer a:hover {	color: #333;}

/*分页*/
.pager{   margin: 10px 0 10px 0; padding:5px 0; text-align:right;}
.pager div { }
.pager a,.pager span { line-height:20px;margin-right:2px;padding:3px 6px;   }
.pager a:hover{ background: #ebebeb;   }
.pager .current { background-color:#ccc; color:#fff; font-weight:bold;}

/*图片*/
.Diary_List{padding:8px 8px 8px 5px; height:100%; overflow:auto;}
	.Diary_List ul{ margin:0px; padding:0px; list-style-type:none;}
		.Diary_List li{ margin-bottom:15px !important; margin-bottom:12px;}
.Image_List{ height:100%; overflow:auto; margin-left:auto; margin-right:auto;}
	.Image_List ul{ margin:0px; padding:0px; list-style-type:none; display:inline;}
		.Image_List li{ margin:5px 2px 5px 2px; height:100%; overflow:auto; width:118px; float:left; display:block; line-height:130% !important; line-height:200%;padding-top:5px;}
		.Image_List img{ padding:3px;}
.Image_List_Style { text-align: center; }
.Image_List_Style ul { text-align: center; }
.Image_List_Style li { text-align: center; }
.Image_List_Style img { border: 1px solid #eeeeee; }

#divBody{padding-bottom:5px;}
.cnblogs_code {background-color:#F5F5F5;border:1px solid #CCCCCC;font-family:Courier New;font-size:13px;overflow:auto;padding:5px;}
.post p{width:560px;overflow-x:auto;overflow-y:hidden;}
.post p img{padding-bottom:4px;margin-bottom:4px;}
.post td p{width:100%;}
.sign { margin-top: 6px; margin-bottom: 6px;padding:8px 2px }
.ad{margin-top:10px;}
.code { -moz-background-clip: border; -moz-background-inline-policy: continuous; -moz-background-origin: padding; background: #FBEDBB none repeat scroll 0 0; border: 1px solid #C0C0C0; font-family: Verdana,Helvetica, "微软雅黑" ,Arial, "宋体" ,sans-serif; margin: 2px 20px 8px 20px; padding: 4px; }