<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="EntityFrameworkCachingEnabled" value="false" />
    <add key="FileUrl" value="E:\Git\SimpleCrawler\Crawler.Sample.Web\File" />
    <add key="DicPath" value="E:\Git\SimpleCrawler\Crawler.Sample.Web\Dic" />
    <add key="sourceFile" value="E:\收藏20160523-152803.html" />
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=.; Integrated Security=True; Initial Catalog=CrawlerSample; Pooling=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log4net debug="false">
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <!--日志文件名开头-->
      <file value="\Logs\\Error\\" />
      <!--是否追加到文件-->
      <appendToFile value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <rollingStyle value="Composite" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="10" />
      <!--最大文件大小-->
      <maximumFileSize value="500KB" />
      <!--日期的格式-->
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %logger : %message%newline" />
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <!--日志文件名开头-->
      <file value="Logs\\Info\\" />
      <!--是否追加到文件-->
      <appendToFile value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <rollingStyle value="Composite" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="10" />
      <!--最大文件大小-->
      <maximumFileSize value="500KB" />
      <!--日期的格式-->
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %logger : %message%newline" />
      </layout>
    </appender>
    <appender name="WarnAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="WARN" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <!--日志文件名开头-->
      <file value="Logs\\WARN\\" />
      <!--是否追加到文件-->
      <appendToFile value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <rollingStyle value="Composite" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="10" />
      <!--最大文件大小-->
      <maximumFileSize value="500KB" />
      <!--日期的格式-->
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %logger : %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="WarnAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>